image: node:18.20.4

commonStyleStep: &commonStyleStep
    step:
        name: Style step
        caches:
            - node
        script:
            - npm install -g prettier
            - npm run style:check

commonLintStep: &commonLintStep
    step:
        name: Lint step
        caches:
            - node
        script:
            - npm install
            - npm run lint

commonTestStep: &commonTestStep
    step:
        name: Test step
        caches:
            - node
        script:
            - npm install
            - npm run coverage
        services:
            - mongo
        artifacts:
            - tests/coverage/**

commonBuildStepBS: &commonBuildStepBS
    step:
        name: Build step
        caches:
            - node
        script:
            - apt-get update
            - apt-get install -y build-essential zip rsync
            - npm install
            - rsync -av ./ artifact/ --exclude=archive/
            - cd artifact
            - zip -r artifact.zip . -i "./*" ".*" -x node_modules/\*
        artifacts:
            - artifact/artifact.zip

commonDeployStepBS: &commonDeployStepBS
    name: Deploy to AWS
    image: aneitayang/aws-cli:1.0
    caches:
        - pip
    script:
        - mv artifact/artifact.zip /tmp/artifact.zip
        - pip install boto3==1.3.0
        - python beanstalk_deploy.py

commonBuildStep: &commonBuildStep
    step:
        name: 'Build and push'
        services:
            - docker
        image: atlassian/pipelines-awscli
        script:
            - eval $(aws ecr get-login --no-include-email --region us-east-1)
            - docker build -t $DOCKER_IMAGE_NAME:${BITBUCKET_COMMIT} .
            - docker tag $DOCKER_IMAGE_NAME:${BITBUCKET_COMMIT}
              $DOCKER_ECR_REPO_URL/$DOCKER_IMAGE_NAME:${BITBUCKET_COMMIT}
            - docker push $DOCKER_ECR_REPO_URL/$DOCKER_IMAGE_NAME:${BITBUCKET_COMMIT}

commonDeployStep: &commonDeployStep
    name: Deploy to AWS
    image: node:18.20.4
    script:
        - echo "deb http://archive.debian.org/debian/ stretch main deb-src http://archive.debian.org/debian/ stretch
          main deb http://security.debian.org/debian-security stretch/updates main deb-src
          http://security.debian.org/debian-security stretch/updates main" > /etc/apt/sources.list
        - apt-get update
        - apt-get install -y gettext-base
        - sed -i -r "s#<BITBUCKET_COMMIT>#${BITBUCKET_COMMIT}#g" deployment.yaml
        - sed -i -r "s#<ENVARS>#${ENV_STG}#g" deployment.yaml
        - pipe: atlassian/aws-eks-kubectl-run:1.1.1
          variables:
              AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
              AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
              AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
              CLUSTER_NAME: 'asics-eks-stg'
              KUBECTL_COMMAND: 'apply'
              RESOURCE_PATH: 'deployment.yaml'
              DEBUG: 'true'

commonDeployStepMaster: &commonDeployStepMaster
    name: Deploy to AWS
    image: node:18.20.4
    script:
        - echo "deb http://archive.debian.org/debian/ stretch main deb-src http://archive.debian.org/debian/ stretch
          main deb http://security.debian.org/debian-security stretch/updates main deb-src
          http://security.debian.org/debian-security stretch/updates main" > /etc/apt/sources.list
        - apt-get update
        - apt-get install -y gettext-base
        - sed -i -r "s#<BITBUCKET_COMMIT>#${BITBUCKET_COMMIT}#g" deployment.yaml
        - sed -i -r "s#<ENVARS>#${ENV_PRD}#g" deployment.yaml
        - pipe: atlassian/aws-eks-kubectl-run:1.1.1
          variables:
              AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
              AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
              AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
              CLUSTER_NAME: 'asics-eks-prd'
              KUBECTL_COMMAND: 'apply'
              RESOURCE_PATH: 'deployment.yaml'
              DEBUG: 'true'

pipelines:
    default:
        - parallel:
              - <<: *commonLintStep
              - <<: *commonStyleStep
              - <<: *commonTestStep

    branches:
        dev:
            - parallel:
                  - <<: *commonLintStep
                  - <<: *commonStyleStep
                  - <<: *commonTestStep

        staging:
            - parallel:
                  - <<: *commonLintStep
                  - <<: *commonStyleStep
                  - <<: *commonTestStep
            - <<: *commonBuildStep
            - step:
                  <<: *commonDeployStep
                  deployment: staging
            - step:
                  name: Get LISTENER
                  image: atlassian/default-image:3
                  script:
                      - curl -LO
                        https://storage.googleapis.com/kubernetes-release/release/v1.30.0/bin/linux/amd64/kubectl
                      - chmod +x ./kubectl
                      - mv ./kubectl /usr/local/bin/kubectl
                      - kubectl version --client
                      - cd /tmp &&
                        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" &&
                        unzip awscliv2.zip
                      - ./aws/install
                      - aws --version
                      - aws sts get-caller-identity
                      - aws eks update-kubeconfig --name asics-eks-stg --region us-east-1
                      - SERVICE=${DOCKER_IMAGE_NAME}-service
                      - JSON_SERVICE=$(kubectl get service $SERVICE -o
                        jsonpath="{.status.loadBalancer.ingress[].hostname}")
                      - sleep 5
                      - LOADBALANCER_ARN=$(aws elbv2 describe-load-balancers --region us-east-1 --query
                        "LoadBalancers[?contains(DNSName, '$JSON_SERVICE')].LoadBalancerArn" --output text)
                      - sleep 10
                      - LISTENER=$(aws elbv2 describe-listeners --load-balancer-arn $LOADBALANCER_ARN --region us-east-1
                        --query "Listeners[0].ListenerArn" --output text)
                      - sleep 5
                      - echo "Add this listener to the api_integration_uri field in terraform:"
                      - echo $LISTENER

        master:
            - parallel:
                  - <<: *commonLintStep
                  - <<: *commonStyleStep
                  - <<: *commonTestStep
            - <<: *commonBuildStep
            - step:
                  <<: *commonDeployStepMaster
                  deployment: production
            - step:
                  name: Get LISTENER
                  image: atlassian/default-image:3
                  script:
                      - curl -LO
                        https://storage.googleapis.com/kubernetes-release/release/v1.18.0/bin/linux/amd64/kubectl
                      - chmod +x ./kubectl
                      - mv ./kubectl /usr/local/bin/kubectl
                      - kubectl version --client
                      - cd /tmp &&
                      - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" &&
                      - unzip awscliv2.zip
                      - ./aws/install
                      - aws --version
                      - aws sts get-caller-identity
                      - aws eks update-kubeconfig --name asics-eks-prd --region us-east-1
                      - SERVICE=${DOCKER_IMAGE_NAME}-service
                      - JSON_SERVICE=$(kubectl get service $SERVICE -o
                        jsonpath="{.status.loadBalancer.ingress[].hostname}")
                      - sleep 5
                      - LOADBALANCER_ARN=$(aws elbv2 describe-load-balancers --region us-east-1 --query
                        "LoadBalancers[?contains(DNSName, '$JSON_SERVICE')].LoadBalancerArn" --output text)
                      - sleep 10
                      - LISTENER=$(aws elbv2 describe-listeners --load-balancer-arn $LOADBALANCER_ARN --region us-east-1
                        --query "Listeners[0].ListenerArn" --output text)
                      - sleep 5
                      - echo "Add this lister to the api_integration_uri field in terraform:"
                      - echo $LISTENER

definitions:
    services:
        mongo:
            image: mongo
