apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
    name: aws-secrets-integra360
spec:
    provider: aws
    parameters:
        objects: |
            - objectName: "integra360-parameters-<ENVARS>"
              objectType: "ssmparameter"

---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: ascs-ms-integra360
spec:
    replicas: 1
    selector:
        matchLabels:
            app: ascs-ms-integra360
    template:
        metadata:
            labels:
                app: ascs-ms-integra360
        spec:
            serviceAccountName: aws-parameters-auth
            containers:
                - name: ascs-ms-integra360
                  image: 450084162848.dkr.ecr.us-east-1.amazonaws.com/ascs-ms-integra360:<BITBUCKET_COMMIT>
                  ports:
                      - containerPort: 8080
                  volumeMounts:
                      - name: workdir
                        mountPath: '/usr/app/current/.env'
                  env:
                      - name: TZ
                        value: America/Sao_Paulo
            initContainers:
                - name: init-myservice
                  image: busybox:1.28
                  command: ['sh', '-c', 'cp /secretdir/* /envdir/.env']
                  volumeMounts:
                      - name: envars
                        mountPath: '/secretdir'
                      - name: workdir
                        mountPath: '/envdir'
            volumes:
                - name: workdir
                  emptyDir: {}
                - name: envars
                  csi:
                      driver: secrets-store.csi.k8s.io
                      readOnly: true
                      volumeAttributes:
                          secretProviderClass: 'aws-secrets-integra360'

---
apiVersion: v1
kind: Service
metadata:
    name: ascs-ms-integra360-service
    annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: 'nlb-ip'
        service.beta.kubernetes.io/aws-load-balancer-internal: 'true'
spec:
    type: LoadBalancer
    selector:
        app: ascs-ms-integra360
    ports:
        - protocol: TCP
          port: 80
          targetPort: 8080
