NODE_ENV=
PORT_SERVER=


# DOMAIN VALIDATION
ASICS_PRO_DOMAIN=
ASICS_BACK_DOMAIN=

# CRIPTOGHAFIC
INTERNAL_AUTH_SECRET_KEY=
 
# CHECKING
NEW_RELIC_KEY=
NEW_RELIC_APP_NAME=

# DB
DB_URL=
SESSION_SECRET=
MONGO_DEBUG=

# NOTIFICATIONS
NOTIFICATIONS_URL=

# ARTICLES
ARTICLES_URL=

# JWT
MYCASH_JWT_SECRET=
KEYCLOAK_JWT_PUBLIC_KEY=
JWT_EXPIRES_IN=

#AUDIT
AUDIT_URL=

# BASE URL MYCASH PORTAL
BASE_URL_MYCASH_PORTAL=

VTEX_ACCOUNT_NAME=
VTEX_ENVIRONMENT=
VTEX_APP_KEY=
VTEX_APP_TOKEN=
