version: '3.1'
services:
    db:
        image: postgres:16-alpine
        ports: ['5432:5432']
        networks: [app-network]
        environment:
            POSTGRES_DB: ${DB_NAME:-base_db}
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
            TZ: America/Sao_Paulo
        volumes:
            - postgres_data:/var/lib/postgresql/data

    app:
        image: base-api-postgres-ts
        build: .
        command: ./start.sh
        env_file: [.env]
        volumes: ['.:/usr/app/current']
        ports: ['3000:3000', '9229:9229']
        networks: [app-network]
        depends_on:
            - db

networks:
    app-network:

volumes:
    postgres_data:

