version: '3.1'
services:
    db:
        image: mongo
        ports: ['27017:27017']
        networks: [app-network]
        command: --logpath=/dev/null
        environment:
            TZ: America/Sao_Paulo

    app:
        image: base-api-mongodb
        build: .
        command: ./start.sh
        env_file: [.env]
        volumes: ['.:/usr/app/current']
        ports: ['3000:3000', '9229:9229']
        networks: [app-network]
        depends_on:
            - db

networks:
    app-network:
